# --- Connection Settings ---
JIRA_SERVER=https://jira.comp.<company_name>.com
JIRA_TOKEN=your_personal_access_token_here

# --- Extraction Inputs ---
PROJECT_KEY=PROJ
START_DATE=2026-01-01
END_DATE=2026-01-01 23:59